<div class="fila">
    <header class="transparente">
        <nav  class="animate__animated animate__bounce">
            <a href="#" routerLinkActive="active">Inicio<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#education" routerLinkActive="active">Education<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#summary" routerLinkActive="active">Executive Summary<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#skills" routerLinkActive="active">Skills<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#os" routerLinkActive="active">OS<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#workex" routerLinkActive="active">Work Experience<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#sw" routerLinkActive="active">Software<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
            <a href="#plen" routerLinkActive="active">Programming Lenguages<img src="/assets/ico/down.svg" alt="Flecha abajo"></a>
        </nav>
    </header>
</div>