<footer class="fila">
    <div class="col-33">
        <p>Valdez Peralta Nahuel Gastón</p>
        <p class="flex-start"> 
            <img class="m-r-small" src="/assets/ico/map.svg" alt="Icono del mapa">
            San Miguel de Tucumán, Tucumán
        </p>
        <p class="flex-start">
            <img class="m-r-small" src="/assets/ico/phone.svg" alt="Icono del telefono">
            +543816095866
        </p>
        <p class="flex-start">
            <img class="m-r-small" src="/assets/ico/mail.svg" alt="Icono del email">
            nvaldezperalta@gmail.com
        </p>
    </div>
    <div class="col-50">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113927.30717547204!2d-65.29263428562963!3d-26.832688472174652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94223792d6c56903%3A0xf88d5b92b5c56527!2sSan%20Miguel%20de%20Tucum%C3%A1n%2C%20Tucum%C3%A1n!5e0!3m2!1ses!2sar!4v1663681005191!5m2!1ses!2sar" width="100%" height="100%" style="border:0; padding:6rem 1rem 2rem 2rem" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-33">
        <img class="rrss" src="/assets/ico/facebook2.svg" alt="Icono de Facebook">
       <a href="https://www.facebook.com/profile.php?id=100081481425936">Nahuel Peralta</a> 
        
                    <img class="rrss" src="/assets/ico/linkedin.svg" alt="Icono de Twitter">
                   <a href="https://www.linkedin.com/in/nahuel-gaston-valdez-peralta-87ab73223/">Nahuel Peralta</a>
                    
    </div>
</footer>
