
<div class="presentation">
    <div class="fila">
        <div class="col-100">
            <div class="flex-around">
                <img src="assets/img/imagencv.png" alt="" width="150px">
                </div>
        </div>
        <div class="col-100">
            <p>Valdez Peralta Nahuel Gastón</p>
            <p class="flex-start"> 
                <img class="m-r-small" src="/assets/ico/map.svg" alt="Icono del mapa">
                San Miguel de Tucumán, Tucumán
            </p>
            <p class="flex-start">
                <img class="m-r-small" src="/assets/ico/phone.svg" alt="Icono del telefono">
                +543816095866
            </p>
            <p class="flex-start">
                <img class="m-r-small" src="/assets/ico/mail.svg" alt="Icono del email">
                nvaldezperalta@gmail.com
            </p>
        </div>
        <div class="col-100">
            <img class="rrss" src="/assets/ico/facebook2.svg" alt="Icono de Facebook">
           <a href="https://www.facebook.com/profile.php?id=100081481425936">Nahuel Peralta</a> 
            <hr>
                        <img class="rrss" src="/assets/ico/linkedin.svg" alt="Icono de Twitter">
                       <a href="https://www.linkedin.com/in/nahuel-gaston-valdez-peralta-87ab73223/">Nahuel Peralta</a>
                        <hr>
        </div>
</div>

<div id="summary" class="fila">
    <div class="col-100">
    <h1>EXECUTIVE SUMMARY</h1>
        Throughout the time I was perfecting my technological skills to develop quality systems, with solid architectures and always focusing on reuse. I have knowledge electricity and electronics, which allows me to solve both electronic and software projects. My philosophy is to listen to others, there is always something new to contribute and to learn. 
    </div>
</div>

<div id="workex" class="fila">
    <div class="col-100">
    <h1>WORK EXPERIENCE</h1>
        Throughout the time I was perfecting my technological skills to develop quality systems, with solid architectures and always focusing on reuse. I have knowledge electricity and electronics, which allows me to solve both electronic and software projects. My philosophy is to listen to others, there is always something new to contribute and to learn. 
    </div>
</div>

<app-education></app-education>
   







<div id="skills" class="fila">
    <div class="col-33">
    <h1>HARD SKILLS</h1>
        Throughout the time I was perfecting my technological skills to develop quality systems, with solid architectures and always focusing on reuse. I have knowledge electricity and electronics, which allows me to solve both electronic and software projects. My philosophy is to listen to others, there is always something new to contribute and to learn. 
    </div>
    <div class="col-33">
        <h1>SOFT SKILLS</h1>
            Throughout the time I was perfecting my technological skills to develop quality systems, with solid architectures and always focusing on reuse. I have knowledge electricity and electronics, which allows me to solve both electronic and software projects. My philosophy is to listen to others, there is always something new to contribute and to learn. 
        </div>
        <div class="col-33">
            <h1>LANGUAGES</h1>
            <app-lenguages></app-lenguages>
            </div>    
</div>

<div id="plen" class="fila">
    <div class="col-100">
        <h1>PROGRAMMING LANGUAGES</h1>
        <app-plenguages></app-plenguages>
    </div>
</div>

<div id="sw" class="fila">
    <div class="col-33">
    <h1>SOFTWARE</h1>
        <app-software></app-software>
    </div>
    <div class="col-33">
        <h1>FRAMEWORKS</h1>
            <app-frameworks></app-frameworks>
        </div>
        <div class="col-33">
            <h1>HYPERVISORS</h1>
                Throughout the time I was perfecting my technological skills to develop quality systems, with solid architectures and always focusing on reuse. I have knowledge electricity and electronics, which allows me to solve both electronic and software projects. My philosophy is to listen to others, there is always something new to contribute and to learn. 
            </div>    
</div>

<div id="os" class="fila">
    <div class="col-100">
        <h1>OPERATION SYSTEMS</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, accusantium culpa illo eligendi deserunt dolor ipsum quasi velit excepturi dolorem nihil, maiores quas omnis veniam possimus quis natus rem nemo!
        Quo vero delectus facilis sunt numquam quas nobis. Temporibus possimus iste repellat, rerum corrupti optio pariatur quo quasi sequi culpa laborum. Accusantium hic, magni fuga deserunt ea optio in quas?
        Dolorem minus rem non! Quaerat, distinctio! Sapiente, debitis! Quae in alias similique veritatis doloribus ut cum, ullam, omnis perferendis, amet doloremque eveniet minus odit consequuntur commodi maxime! Expedita, porro eum?
        Nihil nemo necessitatibus adipisci placeat in unde non cupiditate quo voluptates atque officia et mollitia aperiam culpa nam ullam enim, odit consequuntur? Minima iusto ipsa magnam impedit nemo. Quibusdam, porro.
        Repudiandae nobis, ullam assumenda unde incidunt ipsum itaque est excepturi enim autem modi quasi alias magnam iste suscipit distinctio et totam eos pariatur, saepe perferendis vitae? Dolore obcaecati fugiat cupiditate.
        Iusto magni impedit pariatur animi et. Similique nihil molestias ipsum possimus adipisci reprehenderit, in ipsam repudiandae explicabo accusamus repellendus itaque! Odio, reiciendis voluptatibus quas excepturi magnam reprehenderit quam doloribus nulla.
        Quibusdam, repellat excepturi possimus hic earum dolores quisquam voluptates veniam doloribus consequuntur voluptate! Totam harum accusamus at modi nihil animi dolor exercitationem fugiat dolores, recusandae doloremque distinctio sint tenetur assumenda!
    </div>
</div>

</div>

<app-footer></app-footer>